// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';
